.background-image {
  background-image: url("./images/background-5.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
}

.background-image-yellow {
  background-image: url("./images/background-2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
}

.background-image-gray {
  background-image: url("./images/background-4.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
}

.nav-link {
  background-color: #343a40;
  border-bottom: 5px solid #343a40;
}

.nav-link:hover {
  /* background-color: grey; */
  border-bottom: 5px solid #ffd600;
}

.dropdown-toggle {
  /* background-color: grey; */
  border-bottom: 0px;
}

.dropdown-toggle:hover {
  /* background-color: grey; */
  border-bottom: 0px;
}

.dropdown-menu {
  min-width: 8rem;
}

.nav-link:hover span {
  color: #ffd600;
}
